{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div>
            <div class="col s2"></div>
            <div class="col s8" >
                <div class="card-panel grey">
                    <div class="container">
                        <div class="row">
                            <div class="col s4">
                                <div class="card-panel grey lighten-3">eiei</div>
                            </div>
                            <div class="col s4">
                                <div class="card-panel grey lighten-3">eiei</div>
                            </div>
                            <div class="col s4">
                                <div class="card-panel grey lighten-3">eiei</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s2"></div>
        </div>
    </div>
{% endblock %}