<!DOCTYPE html>
<html lang="en">
<head>
    <title>ALGLONRITHM</title> 
    <link rel="stylesheet" type="text/css" href="../static/node_modules/materialize-css/dist/css/materialize.min.css">
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/static/node_modules/material-icons/css/material-icons.min.css"> -->
</head>

<body class="grey lighten-4">
    <script src="../static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../static/node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script type="text/javascript">
        //  	$(".button-collapse").sideNav();
         // $('select').material_select();
      
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instance = M.Sidenav.init(elems);
        });

        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.tooltipped');
            var instances = M.Tooltip.init(elems);
        });

        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.materialboxed');
        var instances = M.Materialbox.init(elems);
        });

        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
        });

        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.autocomplete');
        var instances = M.Autocomplete.init(elems);
        });
      
    </script>

    <nav class="grey darken-3">
        <ul class="left">
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-medium-and-up show-on-small"><i class="material-icons">menu</i></a>
            <a href="#" class="brand-logo center">ALGLONRITHM</a>
        </ul> 
    </nav>

    <ul id="slide-out" class="sidenav grey darken-3">
        <li>
            <div class="user-view">
                <div class="background"></div>
                    <img src="images/office.jpg">
                </div>
            <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
            </div>
        </li>
        <li><div class="divider"></div></li>
        <li><a href="/" class="waves-effect white-text" href="#!"><i class="small material-icons">dashboard</i>Dashboard</a></li>
        <li><a href="/rank" class="waves-effect white-text" href="#!"><i class="small material-icons">insert_chart</i>Rank</a></li>
        <li><a href="/about_us" class="waves-effect white-text" href="#!"><i class="small material-icons">portrait</i>About Us</a></li>
    </ul>
    
    {% block content %}
    {% endblock %}
</body> 