{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div>
            <div class="row"></div>
            <div class="col s2"></div>
            <div class="col s8" >
                <div class="row"></div>
                <div class="card-panel grey">
                    <center>
                    <img class="materialboxed" width="650" src="{{ url_for('static', filename='img/glon8.jpg') }}">
                    </center> 
                </div>
            </div>
            <div>
                <center><a class="waves-effect waves-light btn modal-trigger red darken-4" href="#modal1"><i class="material-icons right">send</i>Start</a></center>
                <div id="modal1" class="modal">
                    <div class="modal-content">
                    <form action="{{request.path}}" method="POST"> {{form.csrf_token}}
                        <div class="row">
                            <div class="col s12">
                                <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">textsms</i>
                                    {{form.username}}
                                    {{form.username.label}}
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">textsms</i>
                                    {{form.versename}}
                                    {{form.versename.label}}
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input class="waves-effect waves-light btn modal-trigger red darken-4" type="submit" value="Submit">
                        </div>
                    </form>
                    </div>
                    
                    
                </div>
            </div>
            <div class="col s2"></div>
        </div>
    </div>

    
{% endblock %}