{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div>
        <form action="{{request.path}}" method="POST"> {{form.csrf_token}} 
            <div class="col s2"></div>
            <div class="col s8" >
                <div class="card-panel grey lighten-5">
                    <div class="row">
                        
                        <div class="col s12">
                          <div class="row">
                            <div class="input-field col s5">
                                {{form.content1}}
                                {{form.content1.label}}
                            </div>
                            <div class="col s2"></div>
                            <div class="input-field col s5 ">
                                {{form.content2}}
                                {{form.content2.label}}
                            </div>
                          </div>
                        </div>

                        <div class="col s12">
                            <div class="row">
                              <div class="input-field col s5 ">
                                {{form.content3}}
                                {{form.content3.label}}
                              </div>
                              <div class="col s2"></div>
                              <div class="input-field col s5 ">
                                {{form.content4}}
                                {{form.content4.label}}
                              </div>
                            </div>
                        </div>

                        <div class="col s10"></div>
                        <div class="col s2">
                            <div class="row">
                                    <input class="waves-effect waves-light btn modal-trigger red darken-4" type="submit" value="Submit">
                            </div>
                            <div class="row">
                                <a class="waves-effect waves-light btn modal-trigger red darken-4" href="#hint"><i class="material-icons right">help</i>Hint</a>
                                    <div id="hint" class="modal">
                                        <div class="modal-content">
                                            <center>
                                                <img class="materialboxed" width="550" src="{{ url_for('static', filename='img/glon8.jpg') }}">
                                            </center>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#" class="modal-close waves-effect waves-green btn-flat"><i class="material-icons right">exit_to_app</i>Exit</a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    
                      </div>
                </div>
            </div>
            <div class="col s2"></div>
        </div>
        </form>
    </div>
{% endblock %}