{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div>
            <div class="col s2"></div>
            <div class="col s8" >
                <div class="card-panel grey">
                    <ul class="collection">
                        <li class="collection-item avatar">
                          <i class="material-icons circle red darken-4">play_arrow</i>
                          <span class="title">Title</span>
                          <p>First Line <br>
                             Second Line
                          </p>
                          <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                        </li>
                        <li class="collection-item avatar">
                          <i class="material-icons circle red darken-4">play_arrow</i>
                          <span class="title">Title</span>
                          <p>First Line <br>
                             Second Line
                          </p>
                          <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                        </li>
                        <li class="collection-item avatar">
                          <i class="material-icons circle red darken-4">play_arrow</i>
                          <span class="title">Title</span>
                          <p>First Line <br>
                             Second Line
                          </p>
                          <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                        </li>
                      </ul>
                </div>
            </div>
            <div class="col s2"></div>
        </div>
    </div>
{% endblock %}